<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
    <test name="注册">
        <classes>
            <class name="com.yaochen.tester.cases.RecaseV6"/>
        </classes>
    </test>
    <test name="登录">
        <classes>
            <class name="com.yaochen.tester.cases.Login"/>
        </classes>
    </test>
    <test name="Test3">
        <classes>
            <class name="com.yaochen.tester.cases.LoginW"/>
        </classes>
    </test>
    <test name="Test4">
        <classes>
            <class name="com.yaochen.tester.cases.Test4"/>
        </classes>
    </test>


</suite>


